@font-face {
  font-family: slabo;
  src: url('../fonts/Slabo27px-Regular.ttf')
}

body {
  font-family: slabo, 'Helvetica', sans-serif;
  color: #191919; 
  font-size: .9em;
  width: 100vw;
  height: 100vh; 
  background-image: url('../images/Paper-22.png')
}
#main-content {
  background-image: url('../images/vivian_beach_bw.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  width: 50%;
  height: 70%;
  min-width: 35em;
  min-height: 20em;
  margin: 10% auto;
/*  border: 2px solid black; */
}
#text-area {
  width: 70%;
  padding: 0 3% 0 0; 
  min-width: 5em; 
/*  border: 2px solid black; */
}
#name {
  font-size: 4em;
  text-align: center;
}

a, a:visited {
  color: #CC2900;
  text-decoration: none;
}

a:hover {
  color: #FF7519;
  text-decoration: underline;
}

/* Social Media Icons */

ul#social-media {
  text-align: center;
  margin: 10% auto 0 auto;
  width: 50%;
}
ul#social-media li { 
  border-radius: 50%;
  margin: 0 3%;
  display: inline-block;
  width: 20%; 
  background-image: url('../images/social_media_icons_bw.png');
  background-size: 650%;
}
ul#social-media li:hover { 
  background-image: url('../images/social_media_icons_color.png');
}
ul#social-media li a { 
  display: block;
  height: 100%;
  width: 100%;
}
#linkedin {
  background-position: 98% 1.5%;
}
#twitter {
  background-position: 25% 1.5%;
}
#facebook {
  background-position: 1% 1.5%;
}
